<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
    <h1>LOG IN!</h1>
    <form action="/login" method="POST">
        <div>
            <label for="username">Enter Username</label>
            <input type="text" id="username" name="username">
        </div>
        <div>
            <label for="password">Enter Password</label>
            <input type="password" id="password" name="password">
        </div>
        <button>Submit</button>
    </form>
</body>
</html>