h1 {
    background-color: skyblue;
    display: block;
}

span {
    background-color: lightgreen;
    padding: 10px;
    margin: 20px;
    display: inline-block;
}

div {
    background-color: magenta;
    width: 100px;
    height: 100px;
    display: inline-block;
}