<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>This is the home page! <%= 'hello world' .toUpperCase() %>
    </h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi quae placeat cupiditate maiores magni consequatur
        reprehenderit aspernatur, atque esse ea, ab doloribus ipsa, pariatur fugit corrupti a! Odio, consectetur natus?
        Similique excepturi deleniti pariatur! Dicta sapiente aperiam quo! Tempora, animi quos? Sequi cum veritatis
        provident, nulla repellendus explicabo consequatur autem iure quasi delectus at, eligendi illo excepturi iste!
        Nemo, reprehenderit.
        Voluptates debitis ipsum perferendis dolore veritatis. Adipisci odit architecto iusto nesciunt enim libero atque
        inventore perferendis dolore ratione dolorem, optio veritatis eveniet expedita quasi qui harum vel rem maiores
        accusamus!</p>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis provident obcaecati cum nobis, deserunt
        tempore labore voluptatibus corporis dolore commodi excepturi rem autem? Ullam, qui. Quia odit veniam ipsum
        omnis.
        Fuga molestiae animi provident accusamus tempora praesentium nostrum, ipsam, fugit tenetur, suscipit obcaecati
        culpa iusto? Nesciunt qui ipsam pariatur dolorum dolore deleniti laboriosam numquam? Ipsam officiis nobis
        blanditiis. Quisquam, esse!
        Animi neque mollitia totam dicta in veniam soluta fugiat enim nobis reprehenderit laboriosam, quae eaque, saepe
        autem temporibus est excepturi incidunt? Quos consequatur sint aspernatur necessitatibus tempora cum, blanditiis
        accusantium!</p>
</body>

</html>